.header {
    display: flex;
    width: auto;
    background-color: black;
    height: 3rem;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: space-between;
}

.header_Menu {
    list-style: none;
    padding: 8px 5px;
}

.header_pageName {
    flex-grow: 1;
    background-color: black;
    color: whitesmoke;
    margin-left: 30px;
    text-align: left;
    /* height: 25px; */
    font-size: larger;
    min-width: 6rem;
}

.header_MenuIcon {
    background-color: black;
    color: whitesmoke;
    /* padding-left: 10px; */
    /* height: 25px; */
    min-width: 2.5rem;
    height: 100%;
    font-size: 0.6rem;
    white-space: pre-wrap;
    font-weight: 900;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.show-menu {
    background-color: black;
    width: 50%;
    height: 100vh;
    position: absolute;
    left: 0px;
    transition: 0.5s;
    list-style: none;
    padding: 15px 0px;
    color: whitesmoke;
}

.show-menu ul {
    padding: 10px 5px;
    font-size: 25px;
}

.show-menu li {
    padding: 5px 30px;
    font-size: 20px;
}

/* .show-menu li:hover {
    background-color: gray;
    border-radius: 4px;
} */

.show-menu ul:hover {
    background-color: gray;
    border-radius: 4px;
}

.hide-menu {
    position: absolute;
    left: -376px;
    transition: 0.5s;
}

.header_search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    width: 80%;
    height: 20px;
}

.header_searchIcon {
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    height: 25px;
}
.header_notificationIcon {
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    height: 25px;
}

.person {
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    height: 25px;
}

.header_arrow {
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    height: 25px;
}