.div_bottomNav {
   box-shadow: 0 0 2px black;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   display: flex;
   background: darkgrey;
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   height: 3.5rem;
   z-index: 9;

   input {
      background: none;
      outline: none;
      border: none;
      padding: 0.5rem;
      font-size: 1.125rem;
      line-height: 1.5;
      color: black;

      &::placeholder {
         color: white;
      }

      flex: 1;
   }

   button {
      background: none;
      outline: none;
      border: none;
      background: white;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }

}

.mainBottomNav {
   // button{
   //    margin: auto;
   //    background: none;
   //    background-color: white;
   //    outline: none;
   //    border: none;
   //    padding-left: 0;
   //    padding-right: 0;
   //    border: 0.3px solid black;
   //    // border-radius: 100%;
   //    width: 100%;
   //    height: 100%;
   //    font-size: small;
   //    font-weight: bolder;
   // }

   // width: 23rem;
   // display: grid;
   
   // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

   // .btn_sell {
   //    grid-column: 1;
   // }
   // .btn_buy {
   //    grid-column: 2;
   // }
   // .btn_regist {
   //    grid-column: 3;
   // }
   // .btn_board {
   //    grid-column: 4;
   // }
   // .btn_chat {
   //    grid-column: 5;
      
   // }
   width: 100%;
   
   .MuiBottomNavigationAction-root {
      padding: 0rem;
      min-width: 50px;

      .MuiBottomNavigationAction-label {
         padding: 0rem;
         font-size: x-small;
      }
      .Mui-selected {
         padding: 0rem;
         font-size: x-small;
      }
   }
}