.div_bottomNav {
   box-shadow: 0 0 2px black;
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   display: flex;
   background: darkgrey;
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   height: 3.5rem;
   z-index: 9;

   input {
      background: none;
      outline: none;
      border: none;
      padding: 0.5rem;
      font-size: 1.125rem;
      line-height: 1.5;
      color: black;

      &::placeholder {
         color: white;
      }

      flex: 1;
   }

   button {
      background: none;
      outline: none;
      border: none;
      background: white;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
   }

}

.mainBottomNav {
   width: 100%;
   
   .MuiBottomNavigationAction-root {
      padding: 0rem;
      min-width: 50px;

      .MuiBottomNavigationAction-label {
         padding: 0rem;
         font-size: x-small;
      }
      .Mui-selected {
         padding: 0rem;
         font-size: x-small;
      }
   }
}