.div_chatRoomPage {
   margin-left: auto;
   margin-right: auto;
   overflow: hidden;
   background-color: white;
}

.div_itemInfo {
   position: fixed;
   height: 9rem;
}

.div_chatLogs {
   padding-top: 9rem;
}