
.div_loginPage {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 80vh;
}
.loginBtn {
    width: 15rem;
    border: none;
    background-color: white;
    width: 15rem;
    margin-top: 2rem;
}
.img {
    width: 100%; cursor: pointer;
}