.div_contents {
    padding-bottom: 3.5rem;
}

.btn_getItems {
    width: 100%;
    height: 2.5rem;
    .MuiButton-label {
       font-size: x-small;
       color: gray;
    }
    .MuiButtonBase-root {
       position: inherit;
    }
 }