.MuiContainer-root {
    padding-top: 3rem;
}

.div_price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .priceLoe {
        margin-right: 0.5rem;
    }

    .priceGoe {
        margin-left: 0.5rem;
    }

    #priceLoe {
        grid-column: 1;
        text-align: right;
    }

    #priceGoe {
        grid-column: 2;
        text-align: right;
    }
}

