<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅방</title>
</head>
<body>
<ul>
    <li th:text="${content.chatRoomId}"></li>
    <li th:text="${content.itemInfo.itemId}"></li>
    <li th:text="${content.itemInfo.itemImg}"></li>
    <li th:text="${content.itemInfo.title}"></li>
    <li th:text="${content.itemInfo.price}"></li>
    <li th:text="${content.itemInfo.dealState}"></li>
    <li th:text="${content.itemSavedMemberInfo.memberId}"></li>
    <li th:text="${content.itemSavedMemberInfo.nickname}"></li>
    <li th:text="${content.requestedMemberInfo.memberId}"></li>
    <li th:text="${content.requestedMemberInfo.nickname}"></li>
    <li th:text="${content.myId}"></li>
</ul>
<ul th:each="chatLog : ${chatLogs}">
    <li th:text="${chatLog.chatLogId}"></li>
    <li th:text="${chatLog.senderId}"></li>
    <li th:text="${chatLog.recipientId}"></li>
    <li th:text="${chatLog.message}"></li>
    <li th:text="${chatLog.lastModifiedDate}"></li>
    <li th:text="${chatLog.read != true ? 1 : 0}"></li>
</ul>
</body>
</html>